.table_container {
    box-shadow: none !important;
}

.main_table {
    border-collapse: separate !important;
    border-spacing: 0 10px !important;
    border: transparent !important;
}

.table_headings .table_head_row {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.table_headings .table_head_row:first-child{
    border-left: 1px solid black !important;
    border-radius: 15px 0 0 15px !important;

}

.table_headings .table_head_row:last-child{
    border-right: 1px solid black !important;
    border-radius: 0 15px 15px 0 !important;

}

.main_table .table_row_td {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.main_table .table_row_td:first-child {
    border-left: 1px solid black !important;
    border-radius: 15px 0 0 15px !important;

}

.main_table .table_row_td:last-child {
    border-right: 1px solid black !important;
    border-radius: 0 15px 15px 0 !important;
}

.table_body tr .table_row_th {
    border: 1px solid black !important;
    border-right: none !important;
    border-radius: 15px 0 0 15px !important;
}

.table_head tr .table_head_row {
    background-color: #e6e4e4 !important;
    color: black !important;

}

.table_head tr .table_row_th:first-child {
    border-radius: 15px 0 0 15px !important;
    border-left: 1px solid black !important;
}

.table_head tr .table_row_th:last-child {
    border-radius: 0 15px 15px 0 !important;
    border-right: 1px solid black !important;
}

.table_body .table_row {
    background-color: #4f22ed !important;
   
}

.table_row .table_row_td{
    color:white !important;
}


