body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dx-widget, .dx-widget *, .dx-widget ::after, .dx-widget ::before, .dx-widget::after, .dx-widget::before {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;  
}
.rs-nav-item.rs-nav-item-active {
   color: #1c33d5 !important;  

}
.dx-theme-generic-typography a {
  color: #29292a !important;
}
body {
    background-color: #f8fafd;
   
}
.header-bg {
    background-color: #fff;
    width: 100%;
    padding: 0px 6px 8px 5px;
    box-shadow: 2px 2px 6px 0px #b1b1b12e;
    display: flow-root;
    position: sticky;
    top: 0;
    z-index: 9;
}